<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616308922167-bkpvrq2eotiii0lv2s0tc0o5o249tb63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616308922167-bkpvrq2eotiii0lv2s0tc0o5o249tb63</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>616308922167-1f5ea1vjudq2cpn6jqpn45f44jgpitc6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAN-FWC0ghnb_bkgYMOrUcHgOl9TEuoCbw</string>
	<key>GCM_SENDER_ID</key>
	<string>616308922167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sokolglebapps.logger</string>
	<key>PROJECT_ID</key>
	<string>logger-cb850</string>
	<key>STORAGE_BUCKET</key>
	<string>logger-cb850.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616308922167:ios:9f112f0eca89c313e7ecb2</string>
</dict>
</plist>